/* I am Emilienne Vincens and this is my main.css file. 
Main css file that rules the full design of the website. */

body{background-color:#F1EFC8;
    font-family: geneva;
    color:darkgreen;
    clear:both;
    max-width: 100%;
    overflow-x: hidden;
    
}
h1 { position: static; 
    color:darkgreen;
    text-align:center;
    font-size:60px;
    font-weight:bolder;
    font-family:georgia;
}

#errorMessage{color:red;
    font-weight:bolder;
    text-align:center;
    font-size:large;
    margin: 10px;
}

h3, #popup {color:#C6AA58;
    border:3px solid #C6AA58;
    padding: 5px 20px ; 
    margin: 10px auto -10px;
    border-radius: 10px; 
    background-color:darkgreen;
    display: inline-block;
}

#logo{position: absolute;
	 margin:20px 0px 20px 20px;
     padding: 0px 0px ;
     width:auto;
     height:100px;
    float:left;}


.button{text-align:center;
     font-size:xx-large;
     background-color:darkgreen;
     margin: 50px auto 10px; 
     padding: 15px 3px 10px;
     width:300px;
     border-radius: 10px; 
     text-align:center;
     color:#f1d88a;
     clear:left;
}
.smallbutton{text-align:center;
    display: inline-block;
     font-size:small;
     width: fit-content;
     background-color:darkgreen;
     margin: 15px auto 15px; 
     padding: 10px 30px 10px;
     border-radius: 10px; 
     text-align:center;
     color:#f1d88a;
    }

.smallbutton:hover{
    background-color: rgb(3, 118, 3);
    color:#C6AA58;
    cursor : pointer;
}

#choose, .info {text-align:center;
     font-size:xx-large;
     background-color:darkgreen;
     margin: 50px 60px 10px; 
     padding: 15px 3px 15px;
     width:200px;
     border-radius: 10px; 
     text-align:center;
     color:#f1d88a;
    float:right;
}

.info{font-size:x-large;
    float:left;
    margin: 10pX 60px ;
    }

#return{text-align:center;
     font-size:xx-large;
     background-color:darkred;
     margin: 50px 60px 10px; 
     padding: 15px 3px 15px;
     width:200px;
     border-radius: 10px; 
     color:#f1d88a;
    float:left;
}

a, a:visited {color: #C6AA58;
    text-decoration :underline 2px #C6AA58;
    text-underline-offset: 5px; 
}

a:hover{color :green;
text-decoration:underline 2px green;}

.heart {
  font-size: 40px;
  cursor: pointer;
  color: darkgreen;
  user-select: none;
  float: center;  
  margin : 20px
}

/*Beginning of div definitions, due on 13th of October

Header definition */
.header{background-color:#f1d88a;
    margin: 0px 0px 6px;
    padding:6px;
    text-align: center;
    width:100%;
    box-sizing: border-box;
}
.header-left{display:flex;
float:left;}

/*Searchbar definition */
.searchbar{background-color:darkgreen;
    display:flex;
    padding:15px;
    justify-content:space-between;
    width:100%;
    margin: 0px;
    box-sizing: border-box;
}
.searchbar a{color:#f1d88a;
    font-size: 20px;
    text-decoration:none;
    padding:12px;
    text-align: center;
    font-weight: bolder;
    margin:0px 30px;
}
.searchbar a:hover {color:#C6A45D;
        border:solid 1px #C6A45D;
        font-size: 20px;
        cursor : pointer;
}
.active{ color:#C6A45D;
    border:solid 1px #f1d88a;
    font-size: 20px;
    text-decoration:none;
    padding:100px;
    text-align: center;

}


/*Main content definition */
.main, .list {background-color: #C6AA58;
    padding:15px;
    margin:7px 0px 0 0;
    float:left;
    box-sizing: border-box;
    width:100%;

}

.list{width : 49.5%;
    box-sizing: border-box;
    margin:5px 0px 0px 5px;
    float:left;
}

.minor{ 
    box-sizing: border-box;
    width:100%;
    float:left;
    text-align: center;
    border:solid 3px #C6A45D;
    background-color:#f1d88a;
    margin:7px 7px 0 0;
    padding:10px;
}

#fuel-filter{width:100%;
float : left;}

.tutorial{
    width:auto;
    float:left;
    background-color:#f1d88a;
    margin:10px 7px 20px 40px;
    padding:20px;
    clear:right;
}

.main-right{
    width:50%;
    float:right;
}

#checkbox {
    position: fixed;
    bottom: -400px; 
    right: 20px;
    transition: bottom 0.5s ease-in-out;
    z-index: 9999;
    background-color: pink;
}
#checkbox.visible {
    bottom: 20px; 
}

#popup {
    display: none; 
    position: fixed;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    z-index: 999;
    margin-bottom: 30px;
}

/* Difference wanted for smaller screens like phone screens */
 @media only screen and (max-width: 600px) {
  .header {
    float:none;
    display:block;
  }
 .minor{width:100%  !important;
}

h1{font-size:40px;}

 #logo{
	 margin:0px 100%;
     padding: 50px 0px;
     height:102px;
     display:flex;
}
.main-right{
    width:100%;
    padding-left:15px;
}
#choose, .info{
     font-size:x-large;
     margin: 50pX 60px 0 0;
     padding: 15px 3px 15px;
     width:100px;
}

#return{
     font-size:x-large;
     margin: 50px 0px 10px 60px; 
     padding: 15px 3px 15px;
     width:100px;
 }

  .list { width:100%;

 }

 .searchbar a{
    font-size: 15px;
    margin:0px 0px;}
 }