/* I am Emilienne Vincens and this is my fullinfo page. It is due on Sunday 5th of October.
This is my secndary page that rules the display of the different infos of gas station*/

.imagetext{float:left;
     width:526px;
     margin:30px;
     border:solid 1px white;
}

.time{font-weight: bolder;

}

.price{color:#f1d88a;
    font-weight: bolder;}

@media only screen and (max-width: 600px) {
     .imagetext{width:100%;
     margin:10px;
     }

}